$sidebar-size: 12rem

#dashboard
	color: $grey-dark
	background-color: #f8f8f8

	&:has(aside.is-expanded)
		padding-left: $sidebar-size
	.navbar
		z-index: 60

	.aside
			display: none
			position: fixed
			top: 0
			left: 0
			z-index: 40
			height: 100vh
			padding: 0
			padding-top: 1.75rem
			box-shadow: none
			background: $grey-lighter

			&.is-expanded
				width: $sidebar-size
			&.is-placed-left
				display: block

			.aside-tools 
				display: flex
				flex-direction: row
				width: 100%
				background-color: $grey-lighter
				color: #fff
				line-height: 3.25rem
				height: 3.25rem
				padding-left: .75rem
				flex: 1

			.menu-list
				a.is-active 
					background-color: $secondary
					color: $text-invert
			
			.menu-label
				padding: 0 .75rem
				margin-top: .75rem
				margin-bottom: .75rem

	section
		padding: 1.5rem

	.section
		&.title-bar 
			padding: 1.5rem
			border-bottom: 1px solid rgba(24,28,33,.06)
			ul
				li
					display: inline-block
					padding: 0 .75rem 0 0
					font-size: 1.5rem
					color: #7a7a7a
					&:not(:last-child):after
						display: inline-block
						content: "/"
						padding-left: .75rem
					&:last-child
						padding-right: 0
						font-weight: 900
						color: #242424
						
	.hero
		background-color: #fff
		border-bottom: 1px solid rgba(24,28,33,.06)
		padding: 0
		.hero-body
			padding: 1.5rem