# macOS
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules


src/dico/*.aff
src/dico/*.dic

public/*
!public/.gitkeep

src/database/config/config.json
